nav.topnav {
    background: purple;
    display: flex;
    flex-direction: row;
    max-width: 1024px;
    color: whitesmoke;
}

nav.topnav ul {
    display: flex;
    flex-direction: row;
}

nav.topnav li {
    marker: none;
}

nav.topnav li span {
    padding-right: 32px;
}

nav.subnav {
    flex-basis: 20%;
    background: palegoldenrod;
    display: flex;
    flex-direction: column;
}

article {
    display: flex;
    flex-direction: row;
    max-width: 1024px;
}

div.main-content {
    background: #fcf8f3;
    flex-basis: 80%;
}

header {
    background: #f8ecec;
}

body {
    background: #e0daec;
    margin: 0 auto;
}

footer {
    background: rebeccapurple;
    color: whitesmoke;
    max-width: 1024px;
}
